.client-request{
    width: 80%;
    height: 150px;
    padding: 15px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 100px;
    background-color: #ffffff;
    font-size: 16px;
    resize: none;
    left: 50%;
    top: 75%;
    transform: translate(-50%, -70%);
    position: fixed;
}